<div  style="height: 330px;" class='mt-5 w-100 bg-dark'>
    <div class='d-flex justify-content-around align-items-center pt-5'>
      <div class="e-cart">
        <h4  style="width: 260px;"><i style="color: white;" class="fa-solid fa-cart-shopping"></i><span style="color: white;" class='ms-2'>ShopFusion</span></h4>
        <p style="color: white;">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br /> Deserunt obcaecati consequuntur eius voluptates? <br /> officiis deserunt iste inventore ex, velit doloribus <br /> consectetur quae reprehenderit corrupti expedita!</p>
      </div>

      <div class='links d-flex flex-column'>
        <h4 style="color: white;">Help</h4>
        <a  routerLink=''>Home</a>
        <a  routerLink="wishlist">Wishlist</a>
        <a  routerLink="cart">Cart</a>
      </div>

      <div className='guides d-flex flex-column'>
        <h4 style="color: white;">Registered Address</h4>
        <h5 style="color: white;">Calicut PO</h5>
        <h5 style="color: white;">Near MG Road</h5>
        <h5 style="color: white;">678946</h5>
      </div>

      <div class='contact d-flex flex-column'>
        <h3 style="color: white;">Contact Us</h3>
        <div class='d-flex'>
          <input type="email" class='shadow rounded' placeholder='Email please' />
          <button class='btn btn-warning ms-1 rounded'><i style="color: white;" class="fa-solid fa-arrow-right"></i></button>
        </div>
        <div  class='d-flex justify-content-between'>
          <a href=""><i style="color: white;" class="fa-solid fa-envelope fa-1x"></i></a>
          <a href=""><i style="color: white;" class="fa-brands fa-x-twitter fa-1x"></i></a>
          <a href=""><i style="color: white;" class="fa-brands fa-square-instagram fa-1x"></i></a>
          <a href=""><i style="color: white;" class="fa-brands fa-facebook fa-1x"></i></a>
          <a href=""><i style="color: white;" class="fa-solid fa-phone fa-1x"></i></a>
        </div>
        </div>

    </div>
    <p class='text-center mt-5' style="color: white;">Copyright@Copy:2024 ShopFusion</p>
  </div>
